/*
    Name:       Base16 Monokai Dark
    Author:     Wimer Hazenberg (http://www.monokai.nl)
    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
/*body {background-image: url("bg.png");}*/
div#notebook {background-image: url("bg.png");}
div#side {background-image: url("bg.png");}
